################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IdentityV3V4/DesignTimeBuild/.dtbcache
*.ide
*.lock
*.suo
