################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dtbcache
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
